header
{
    font-family: 'Lato', sans-serif;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.current{
	font-weight: bold;
}

.row-justified{
	float:none;
}

body { 
    background-image: url("images/bkg.jpg");
    background-repeat: no-repeat;
}