header
{
    font-family: 'Lato', sans-serif;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.current{
	font-weight: bold;
}

.row-justified{
	float:none;
}

#main
{
	font-family: 'Lato', sans-serif;
	display:none;
}

#resume
{
	float:none;
}

span.glyphicon {

    font-size: 50px;  

}
embed:focus { 
    outline: none;
}
#footer {
    opacity: 0.6;
    filter: alpha(opacity=60);

    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

