header
{
    font-family: 'Lato', sans-serif;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.current{
	font-weight: bold;
}

.row-justified{
	float:none;
}

#main
{
	font-family: 'Lato', sans-serif;
	display:none;
}

#resume
{
	float:none;
}

span.glyphicon {

    font-size: 50px;  

}
embed:focus { 
    outline: none;
}
#footer {
    opacity: 0.6;
    filter: alpha(opacity=60);

    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
img {
  max-width: 100%
}
.header {
  background: url(header.png) 50% no-repeat;
  background-size: contain
}
@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  #header {
    position: static
  }
}

